GT4.2/im/trunk/schema/edu/umd/grid/bio/im/IM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IMService"
	targetNamespace="http://www.umd.edu/namespaces/grid/bio/IMService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.umd.edu/namespaces/grid/bio/IMService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:gsbl="http://cummings.umiacs.umd.edu/GSBL/GT42GSBLService.wsdl" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:import 
		namespace="http://cummings.umiacs.umd.edu/GSBL/GT42GSBLService.wsdl"
		location="/fs/mikeproj/grid/www/cummings/GSBL/GT42GSBLService.wsdl"/>
		
	<types>
		<xsd:schema targetNamespace="http://www.umd.edu/namespaces/grid/bio/IMService"
			xmlns:tns="http://www.umd.edu/namespaces/grid/bio/IMService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<!-- Argument Bean -->
			<xsd:complexType name="IMArguments">
				<xsd:all>
	                                <xsd:element name="replicates" nillable="true" type="xsd:int"/>		
			<xsd:element name="sLower" nillable="true" type="xsd:double"/>
			<xsd:element name="geneUpdates" nillable="true" type="xsd:int"/>
			<xsd:element name="randomSeed" nillable="true" type="xsd:int"/>
			<xsd:element name="minTime" nillable="true" type="xsd:int"/>
			<xsd:element name="numChains" nillable="true" type="xsd:int"/>
			<xsd:element name="recordKeeping" nillable="true" type="xsd:int"/>
			<xsd:element name="ckptFile" nillable="true" type="xsd:string"/>
			<xsd:element name="burnHeating" nillable="true" type="xsd:int"/>
			<xsd:element name="burnDuration" nillable="true" type="xsd:string"/>
			<xsd:element name="heatParamFirst" nillable="true" type="xsd:double"/>
			<xsd:element name="migrationOut" nillable="true" type="xsd:double"/>
			<xsd:element name="genTime" nillable="true" type="xsd:int"/>
			<xsd:element name="thetAMax" nillable="true" type="xsd:int"/>
			<xsd:element name="heatParamSecond" nillable="true" type="xsd:double"/>
			<xsd:element name="replicates" nillable="true" type="xsd:int"/>
			<xsd:element name="maxTime" nillable="true" type="xsd:int"/>
			<xsd:element name="sUpper" nillable="true" type="xsd:double"/>
			<xsd:element name="chainSwaps" nillable="true" type="xsd:int"/>
			<xsd:element name="time" nillable="true" type="xsd:int"/>
			<xsd:element name="outputFile" nillable="true" type="xsd:string"/>
			<xsd:element name="heatMode" nillable="true" type="xsd:string"/>
			<xsd:element name="outOptions" nillable="true" type="xsd:int"/>
			<xsd:element name="displaySteps" nillable="true" type="xsd:string"/>
			<xsd:element name="runOptions" nillable="true" type="xsd:int"/>
			<xsd:element name="thetaTwoMax" nillable="true" type="xsd:int"/>
			<xsd:element name="windowWidth" nillable="true" type="xsd:string"/>
			<xsd:element name="runDuration" nillable="true" type="xsd:string"/>
			<xsd:element name="restartAfterBurn" nillable="true" type="xsd:boolean"/>
			<xsd:element name="thetaOneMax" nillable="true" type="xsd:int"/>
			<xsd:element name="inputFile" nillable="true" type="xsd:string"/>
			<xsd:element name="comment" nillable="true" type="xsd:string"/>
			<xsd:element name="migrationIn" nillable="true" type="xsd:double"/>
			<xsd:element name="jobname" nillable="true" type="xsd:string"/>


					<xsd:element name="sharedFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="perJobArguments" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="perJobFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="symlinks" type="xsd:string"/>

					<xsd:element name="inputFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="outputFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="owner" type="xsd:string"/>
					<xsd:element name="schedulerOverride" nillable="true" type="xsd:string"/>
					<xsd:element name="appName" type="xsd:string"/>
					<xsd:element name="jobName" type="xsd:string"/>
                                        <xsd:element name="workingDir" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>

			<!-- REQUESTS AND RESPONSES -->
			<xsd:element name="runService" type="tns:IMArguments"/>
			<xsd:element name="runServiceResponse" type="xsd:boolean"/>
		</xsd:schema>
	</types>

	<!--============================================================

                       M E S S A G E S
                      
  ============================================================-->

	<message name="RunServiceInputMessage">
		<part name="parameters" element="tns:runService"/>
	</message>
	<message name="RunServiceOutputMessage">
		<part name="parameters" element="tns:runServiceResponse"/>
	</message>
	<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
	<portType name="IMPortType" wsdlpp:extends="gsbl:GT42GSBLPortType">
		<operation name="runService">
			<input message="tns:RunServiceInputMessage"/>
			<output message="tns:RunServiceOutputMessage"/>
		</operation>
	</portType>
</definitions>
