GT4.2/hmmpfam/trunk/schema/edu/umd/grid/bio/hmmpfam/HMMPfam.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HMMPfamService"
	targetNamespace="http://www.umd.edu/namespaces/grid/bio/HMMPfamService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.umd.edu/namespaces/grid/bio/HMMPfamService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:gsbl="http://cummings.umiacs.umd.edu/GSBL/GT42GSBLService.wsdl" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:import 
		namespace="http://cummings.umiacs.umd.edu/GSBL/GT42GSBLService.wsdl"
		location="/fs/mikeproj/grid/www/cummings/GSBL/GT42GSBLService.wsdl"/>
		
	<types>
		<xsd:schema targetNamespace="http://www.umd.edu/namespaces/grid/bio/HMMPfamService"
			xmlns:tns="http://www.umd.edu/namespaces/grid/bio/HMMPfamService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<!-- Argument Bean -->
			<xsd:complexType name="HMMPfamArguments">
				<xsd:all>
	                                <xsd:element name="replicates" nillable="true" type="xsd:int"/>		
			<xsd:element name="calcEValue" nillable="true" type="xsd:int"/>
			<xsd:element name="cutGA" nillable="true" type="xsd:boolean"/>
			<xsd:element name="informat" nillable="true" type="xsd:string"/>
			<xsd:element name="forward" nillable="true" type="xsd:boolean"/>
			<xsd:element name="xnu" nillable="true" type="xsd:boolean"/>
			<xsd:element name="cutTC" nillable="true" type="xsd:boolean"/>
			<xsd:element name="acc" nillable="true" type="xsd:boolean"/>
			<xsd:element name="setEValue" nillable="true" type="xsd:int"/>
			<xsd:element name="domT" nillable="true" type="xsd:int"/>
			<xsd:element name="seqFastaFile" nillable="true" type="xsd:string"/>
			<xsd:element name="hmmFile" nillable="true" type="xsd:string"/>
			<xsd:element name="alignment" nillable="true" type="xsd:int"/>
			<xsd:element name="null2" nillable="true" type="xsd:boolean"/>
			<xsd:element name="suppress" nillable="true" type="xsd:boolean"/>
			<xsd:element name="domE" nillable="true" type="xsd:int"/>
			<xsd:element name="cpu" nillable="true" type="xsd:int"/>
			<xsd:element name="replicates" nillable="true" type="xsd:int"/>
			<xsd:element name="output" nillable="true" type="xsd:string"/>
			<xsd:element name="bitScore" nillable="true" type="xsd:int"/>
			<xsd:element name="compat" nillable="true" type="xsd:boolean"/>
			<xsd:element name="cutNC" nillable="true" type="xsd:boolean"/>
			<xsd:element name="jobname" nillable="true" type="xsd:string"/>


					<xsd:element name="sharedFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="perJobArguments" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="perJobFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="symlinks" type="xsd:string"/>

					<xsd:element name="inputFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="outputFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="owner" type="xsd:string"/>
					<xsd:element name="appName" type="xsd:string"/>
					<xsd:element name="jobName" type="xsd:string"/>
                                        <xsd:element name="workingDir" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>

			<!-- REQUESTS AND RESPONSES -->
			<xsd:element name="runService" type="tns:HMMPfamArguments"/>
			<xsd:element name="runServiceResponse" type="xsd:boolean"/>
		</xsd:schema>
	</types>

	<!--============================================================

                       M E S S A G E S
                      
  ============================================================-->

	<message name="RunServiceInputMessage">
		<part name="parameters" element="tns:runService"/>
	</message>
	<message name="RunServiceOutputMessage">
		<part name="parameters" element="tns:runServiceResponse"/>
	</message>
	<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
	<portType name="HMMPfamPortType" wsdlpp:extends="gsbl:GT42GSBLPortType">
		<operation name="runService">
			<input message="tns:RunServiceInputMessage"/>
			<output message="tns:RunServiceOutputMessage"/>
		</operation>
	</portType>
</definitions>
