gsi/schema/edu/umd/grid/bio/gsi/Gsi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GsiService"
	targetNamespace="http://www.umd.edu/namespaces/grid/bio/GsiService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.umd.edu/namespaces/grid/bio/GsiService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
	xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:gsbl="http://cummings.umiacs.umd.edu/GSBL/GT4GSBLService.wsdl" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
		location="../../../../../wsrf/properties/WS-ResourceProperties.wsdl"/>
				
	<wsdl:import
		namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
		location="../../../../../wsrf/notification/WS-BaseN.wsdl"/>
		
	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
		location="../../../../../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>

	<wsdl:import 
		namespace="http://cummings.umiacs.umd.edu/GSBL/GT4GSBLService.wsdl"
		location="/fs/mikeproj/grid/www/cummings/GSBL/GT4GSBLService.wsdl"/>
		
	<types>
		<xsd:schema targetNamespace="http://www.umd.edu/namespaces/grid/bio/GsiService"
			xmlns:tns="http://www.umd.edu/namespaces/grid/bio/GsiService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<!-- Argument Bean -->
			<xsd:complexType name="GsiArguments">
				<xsd:all>
	                                <xsd:element name="replicates" nillable="true" type="xsd:int"/>		
			<xsd:element name="numPerms" nillable="true" type="xsd:int"/>
			<xsd:element name="outputFile" nillable="true" type="xsd:string"/>
			<xsd:element name="assignmentFile" nillable="true" type="xsd:string"/>
			<xsd:element name="replicates" nillable="true" type="xsd:int"/>
			<xsd:element name="permType" nillable="true" type="xsd:string"/>
			<xsd:element name="useLengths" nillable="true" type="xsd:string"/>
			<xsd:element name="treeNumber" nillable="true" type="xsd:int"/>
			<xsd:element name="treeFile" nillable="true" type="xsd:string"/>
			<xsd:element name="jobname" nillable="true" type="xsd:string"/>


					<xsd:element name="sharedFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="perJobArguments" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="perJobFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="symlinks" type="xsd:string"/>

					<xsd:element name="inputFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="outputFiles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="owner" type="xsd:string"/>
					<xsd:element name="appName" type="xsd:string"/>
					<xsd:element name="jobName" type="xsd:string"/>
                                        <xsd:element name="workingDir" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>

			<!-- REQUESTS AND RESPONSES -->
			<xsd:element name="runService" type="tns:GsiArguments"/>
			<xsd:element name="runServiceResponse" type="xsd:boolean"/>
		</xsd:schema>
	</types>

	<!--============================================================

                       M E S S A G E S
                      
  ============================================================-->

	<message name="RunServiceInputMessage">
		<part name="parameters" element="tns:runService"/>
	</message>
	<message name="RunServiceOutputMessage">
		<part name="parameters" element="tns:runServiceResponse"/>
	</message>
	<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
	<portType name="GsiPortType" wsdlpp:extends="wsrpw:GetResourceProperty wsrlw:ImmediateResourceTermination wsntw:NotificationProducer gsbl:GT4GSBLPortType">
		
		<operation name="runService">
			<input message="tns:RunServiceInputMessage"/>
			<output message="tns:RunServiceOutputMessage"/>
		</operation>
	</portType>
</definitions>
